@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(/src/customCss/sliderStyle.css);

@layer base {
  @font-face {
    font-family: "Anjoman";
    src: url("/Fonts/ANJOMAN-REGULAR.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "AnjomanMedium";
    src: url("/Fonts/ANJOMAN-MEDIUM.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "AnjomanSemiBold";
    src: url("/Fonts/ANJOMAN-SEMIBOLD.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "AnjomanULTRABOLD";
    src: url("/Fonts/ANJOMAN-ULTRABOLD.woff2") format("woff2");
    font-display: swap;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background-color: #ffffff !important;
  overflow-x: hidden !important;
  font-family: Anjoman !important;
}


@layer components {
  .mobileBG {
    background: url("/images/svg/vector.svg");
    background-size: contain;
    /*background: #27328E;*/
  }
}

@layer components {
  .bgDashboard-mobile {
    background-image: url("/images/ff.svg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: bottom;
  }

  /*
  .bgDashboard-mobile {
    background: url("/images/bgDash.jpg");
    background-size: contain;
    */
  /*background: #27328E;*/
}


@layer components {
  .bgDashboard-mobile2 {

    background: url("/images/bgDash2.jpg") no-repeat;
    background-size: cover;
    /*background: #27328E;*/
  }
}

@layer components {
  .bgProfile-mobile {
    background: url("/images/bgProfile.jpg") no-repeat;
    background-size: cover;
    /*background: #27328E;*/
  }
}


.sliderContainer {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.sliderContainer::-webkit-scrollbar {
  height: 0;
  width: 0;
}


.progressbar {
  overflow: hidden;
  width: 250px;
  height: 6px;
  border-radius: 5px;
  background-color: #ffffff41;
  direction: ltr !important;
}

.progressPercent {
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-50%);
  color: #eee;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  direction: ltr !important;
}

/********** Between Loading **************/
.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
/**********End Between Loading **************/